<header class="bg-blue-200 p-4">
  <nav>
    <ul class="flex space-x-5">
      <li>
        <a
          href="/"
          class="hover:text-amber-700 transition duration-300 ease-in-out text-amber-900"
          >Home</a
        >
      </li>
      <li
        class="hover:text-amber-700 transition duration-300 ease-in-out text-amber-900"
      >
        <a href="/add-car">Add car</a>
      </li>
      <li
        class="hover:text-amber-700 transition duration-300 ease-in-out text-amber-900"
      >
        <a href="/contact-us">Contact Us</a>
      </li>
      <li
        class="hover:text-amber-700 transition duration-300 ease-in-out text-amber-900"
      >
        <a href="/about-us">About Us</a>
      </li>
    </ul>
  </nav>
</header>
